{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
	    <article>
    		<h1>{{ __('errors.404') }}</h1>
    		<a href="/">{{ __('home') }}</a>
	    </article>
    </main>
{% endblock %}