{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
	    <article>
    		<h1>404 - Pagina niet gevonden!</h1>
    		<a href="/">Home</a>
	    </article>
    </main>
{% endblock %}