{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
<main>
	<div class="wrapper app-wrapper">
	    <article>
		<h1>404 - Pagina niet gevonden!</h1>
		<a href="/">Home</a>
	    </article>
	</div>
</main>
{% endblock %}