{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
        <form class="form-styles" method="post">
            <article>
                <h2>{{ __('Berichtenservice') }} {{ __('Afmelden') }}</h2>
                <p>{{ __('Vul hieronder uw email adres in om af te melden bij de Tour Buzz berichtenservice.') }}</p>
            </article>
            <input type="text" placeholder="E-mail" name="mail">
            <button type="submit">{{ __('Afmelden') }}</button>
        </form>
    </main>
{% endblock %}

{% block footer %}{% endblock %}