{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
        <form class="form-styles" method="post">
            <article>
                <h2>{{ __('messages.message_service') }} {{ __('form.unsubscribe') }}</h2>
                <p>{{ __('messages.newsletter.unsubscribe') }}</p>
            </article>
            <input type="text" placeholder="E-mail" name="mail">
            <button type="submit">{{ __('form.unsubscribe') }}</button>
        </form>
    </main>
{% endblock %}

{% block footer %}{% endblock %}