{% extends 'base/base.twig' %}

{% block meta %}
    <link rel="image_src" href="{{ bericht.image_url }}">
    <link rel="canonical" href="{{ TOURBUZZ_URI_PROTOCOL }}{{ TOURBUZZ_URI }}/bericht/{{ bericht.id }}">

    <title>Bericht - Niet publiek</title>
{% endblock %}

{% block topselectie %}{# hidden #}{% endblock %}

{% block main %}
{% endblock %}
