{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper app-wrapper">
        <article>
            <h3>Downloads</h3>
            <a href="http://api.tourbuzz.nl/poi">POI file</a> - Google Maps format<br>
            <a href="http://api.tourbuzz.nl/csv">CSV file</a> - Garmin/Mio/Navman format<br>
            <a href="http://api.tourbuzz.nl/ov2">OV2 file</a> - TomTom format
        </article>
    </main>
{% endblock %}
