{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
        <article>
            <h3>Downloads</h3>
            <a href="/poi">POI file</a> - Google Maps format<br>
            <a href="/poi">CSV file</a> - Garmin/Mio/Navman format<br>
            <a href="/ov2">OV2 file</a> - TomTom format
        </article>
    </main>
{% endblock %}
