{% extends 'base/base.twig' %}

{% block slider %}
     {% include 'partials/slider.twig' %}
{% endblock %}

{% block main %}

<main class="wrapper app-wrapper">

    <div style="margin: 10px 0 20px 0">
        <h2 class="halte-link">{{ record.haltenummer }}</h2>&nbsp;&nbsp;<span>{{ record.straat }}</span>
    </div>

    <a href="#" onclick="window.history.back()">
        <img src="{% include "partials/googlemap.single.twig" %}">
    </a>
</main>

{% endblock %}