{% extends 'base/base.twig' %}

{% block main %}

<main class="wrapper app-wrapper">
    
    <img src="/img/tourbuzzkaart.png" class="buzzmap">
    
    <section class="buzz">
        <ul>
            <li>Aankomst cruise "Braemar" (930 passagiers) PTA 10:00 uur</li>
            <li>H11 Kattenburgerstraat niet beschikbaar</li>
            <li>Werkzaamheden Houtmankade, omleiding via Spaarndammerstraat</li>
            <li>Algemeen: nieuwe halte Amsterstation</li>
            <li>Algemeen: P9 opgeheven, ga naar P10</li>
            <li>Algemeen: nieuw bord Sloterdijk</li>
        </ul>
    </section>
</main>

{% endblock %}