{% extends 'base/base.twig' %}

{% block main %}

<main class="wrapper app-wrapper">
    
    <img src="/img/tourbuzzkaart.png" class="buzzmap">
    
    <section class="buzz">
        <h3>Vandaag</h3>
        <ul>
            <li>Aankomst cruise "Braemar" (930 passagiers) PTA 10:00 uur - Parkeren niet mogelijk</li>
            <li><b>H11</b> Kattenburgerstraat niet beschikbaar</li>
            <li>Werkzaamheden Houtmankade, omleiding via Spaarndammerstraat</li>
            <li><b>P9</b> opgeheven, ga naar <b>P10</b></li>
            {#<li>Algemeen: nieuwe halte Amsterstation</li>
            <li>Algemeen: nieuw bord Sloterdijk</li>#}
        </ul>
    </section>
</main>

{% endblock %}