{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
        <form class="form-styles" method="post">
            <article>
                <h2>Nieuwsbrief</h2>
            </article>
            <input type="text" placeholder="E-mail" name="mail">
            <input type="text" placeholder="Naam" name="name">
            <input type="text" placeholder="Organisatie" name="organisation">
            <input type="hidden" placeholder="taal" name="language" value="{{ lang }}">
            <button type="submit">Aanmelden</button>
        </form>
        <article>Uitschrijven? Klik <a href="/nieuwsbrief-afmelden">hier</a></article>
    </main>
{% endblock %}

{% block footer %}{% endblock %}