{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
        <form class="form-styles" method="post">
            <article>
                <h2>Nieuwsbrief afmelden</h2>
            </article>
            <input type="text" placeholder="E-mail" name="mail">
            <button type="submit">Afmelden</button>
        </form>
    </main>
{% endblock %}

{% block footer %}{% endblock %}