{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block header %}
    <header class="main-header dashboard">
        <div class="wrapper">
            <a href="/" class="home"><img src="/img/buzzlogo-w.png" class="buzz-logo"></a>
            <h2>
                <a href="/dashboard/berichten">Tour Buzz <span>Dashboard</span></a>
            </h2>
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="wrapper">
        <form class="form-styles" method="post">
            <article>
                <h2>SMS alert</h2>
                <p>Vul hieronder het mobiele nummer in, dat u wilt afmelden.</p>
            </article>
            <input type="text" placeholder="Telefoon nr" name="number">
            {#<input type="hidden" placeholder="taal" name="language" value="{{ lang }}">#}
            <button type="submit">Afmelden</button>
        </form>
        <article>Aanmelden? Klik <a href="/sms-aanmelden">hier</a></article>
    </main>
{% endblock %}

{% block footer %}{% endblock %}