{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
        <form class="form-styles" method="post">
            <article>
                <h2>SMS alert</h2>
                <p>Vul hieronder het mobiele nummer in, dat u wilt afmelden.</p>
            </article>
            <input type="text" placeholder="Telefoon nr" name="number">
            {#<input type="hidden" placeholder="taal" name="language" value="{{ lang }}">#}
            <button type="submit">Afmelden</button>
        </form>
        <article>Aanmelden? Klik <a href="/sms-aanmelden">hier</a></article>
    </main>
{% endblock %}

{% block footer %}{% endblock %}