{% extends 'base/base.twig' %}

{% block main %}
    <main class="wrapper">
        <h1>{{ __('application.styleguide') }}</h1>
        <p>{% for i in 1..300 %}{{ __('application.long_text') }} {% endfor %}</p>
    </main>
{% endblock %}