{% extends 'base/base.twig' %}

{% block main %}
<main class="wrapper">
    <style>
        .kaartmap {
            position: relative;
            width: 100%;
        }
        .kaartmap img {
            width: 100%;
        }
        #link-a {
            position: absolute;
            top: 50.555345435%;
            left: 50.43534543%;
        }
        #link-b {
            position: absolute;
            top: 5%;
            left: 10%;
        }
        .maplink {
            position: relative;
            left: -25px;
            top: -45px;
        }
    </style>
    <section class="kaartmap wrapper">
        <img src="{% include 'partials/googlemap.empty.twig' %}">
        {% for halte in haltes %}
            <a href="#{{ halte.haltenummer }}" id="link-a" style="top: {{ halte.rel_loc.dY }}%; left: {{ halte.rel_loc.dX }}%"><img src="/img/haltes/{{ halte.haltenummer|lower }}.png" class="maplink"></a>
        {% endfor %}
    </section>
</main>
{% endblock %}
