{% extends 'base/base.twig' %}

{% block main %}
    <main class="wrapper">
        <section class="buzz">
        <h2>Map test</h2>
        {% include 'partials/googlemap.js.twig' %}
        </section>
    </main>
{% endblock %}
