/////////////////////
// Main Styles
/////////////////////

@import "foundation.scss";
@import "grid.scss";
@import "typography.scss";
@import "util.scss";

$rood: #E01D1D;

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.buzzmap {
    width: 100%;
    margin-bottom: 15px;    
    @include grayscale;   
}

.huidige-locatie {
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 20px 0;
    @extend .group;
    padding: 5px;
}
.buzz {
    h2 {
        font-size: 20px;
        margin-top: $margin-medium;
        margin-bottom: $margin-small;
    }
    h3 {
        margin-bottom: 5px;
        color: #555;
        text-align: center;
    }
    li {
        border-top: 1px solid #eee;
        padding-top: 10px;
        margin-top: 10px;   
    } 
    margin-bottom: 60px;  
}
.bord {
    background: #3669ac;
    padding: 3px 10px;
    color: #fff; 
    font-weight: bold;
    display: inline-block;
    float: left;
    margin-right: 10px;
    min-width: 50px;
    margin-top: 5px;
    text-align: center;
         @include linearGradient(#3A5495, #3669ac );
    &.groot {
      font-size: 32px;
      padding: 15px;  
    }
}

.afstand {
    color: #555;
    display: block;
    font-size: 12px;  
}

.kaart-link {
    color: #5393b8;
    font-size: 14px;
}

.start {
    /*border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px;*/
    margin-top: 10px;
    display: inline-block; 
    color: #5393b8;
    font-size: 14px;      
}

.halte {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;      
}

ol {
    position: relative;
    left: 60px; 
    width: 90%;
    .nr {
        display: inline-block;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        background: $rood;
        color: #fff;
        border-radius: 50%;
        position: absolute;
        left: -40px;
        font-weight: bold;
    }
    input[type=checkbox] {
        position: absolute;
        left: -70px;   
    }
}

.bestemming {
    background: #eee;
    @extend .group;
    margin-bottom: 5px;
    a {
        @extend .group;
    }
    h3 {
        float: left;
        width: 75%;
        padding: 5px;
        margin: 0;
        line-height: 40px;
        font-size: 14px;
        line-height: 1.4em;  
    }
    img {
        width: 25%;
        float: right;
        display: none;        
    }
}

.app-wrapper {
    max-width: 600px;
    margin: 0 auto;   
}

.picture-in-picture-wrapper {
    position: relative;   
}

.picture-in-picture {
    border: 2px solid #fff;
    right: 0px;
    bottom: 5px;
    position: absolute;
    width: 140px;   
}

.gerelateerde-haltes,
.gerelateerde-bestemmingen {
    margin-bottom: 40px;
    h3 {
        font-size: 20px;
        margin-top: 20px;
    }   
}

.bestemming-thumbnail {
    float: left;
    margin-right: 15px;
    display: block;
}

.main-header {
    float: left;
    width: 100%;
    //background: #f00;
    background: $rood;
    color: #fff;
    height: 70px;
    padding: 10px 0;
    margin-bottom: 20px;
    .home {
        @include grid-col(1,4);
        
        i {        
            //border: 1px solid #444;
            border-radius: 5px;  
            display: inline-block;
            padding: 10px 5px; 
            font-size: 30px;  
        }
    }
    h2 {
        @include grid-col(1,2);
        text-align: center;
            font-size: 28px;
            line-height: 1em; 
            margin: 0;  
        span {
            display: block;
            font-size: 16px;
            font-weight: normal;   
        }
        i {
            font-size: 15px;
            padding: 0 5px;
            color:rgba(255, 255, 255, 0.5);   
        }
    }
    .taal {
        @include grid-col(1,4);
        text-align: right;  
        a {
            font-size: 15px;
            line-height: 50px;   
        } 
    }
}

    .meta {
        font-size: 14px;
        color: #888;   
    }
    
    .meta-link {
        font-size: 14px;
        color:#637b95;
        display: block;
    }
    
    .toelichting {
        font-size: 14px;
        color: #888;
        display: block;          
    }
    
.cruiseschepen, .evenementen, .wegwerkzaamheden {
    h3 {
       // font-size: 20px;
       color: #333;
       margin-bottom: $margin-small;   
    }

    ul {
        margin-top: 20px;   
    }
    li {
        margin-bottom: 0;   
    }
    margin-bottom: 20px;   
}

.form-styles {
    margin-bottom: 40px;
    padding: 20px 20px;
    background: #fafafa;
    color: #888;
    
    h3 {
        margin-bottom: $margin-small; 
        color: #888;
        font-size: 18px;  
    }
    input[type=text], textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #aaa;
        @extend .text-body;                     
    }
    textarea {
        padding: 10px;
        border: 1px solid #aaa;
        @extend .text-body;   
    }
    input, textarea {
        margin-bottom: $margin-small;   
    }
    input + button {
        margin-top: $margin-small;   
    }
    select {
        margin-bottom: $margin-small;       
    }    
    button {
        margin-top: 10px;
        @extend .button;
    }   
}

.maxchars, .verwijder {
    font-size: 12px;
    float: right;
    color: #888;
    font-weight: bold;
}

.verwijderen {
    float: right;   
}

.dagen {
    font-size: 12px;
    color: #888;
    font-weight: bold;   
}

.button {
    border: 0;
    background: $rood;
    color: #fff;
    padding: 5px 10px; 
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;  
}

footer {
    p {
        font-size: 14px;
        color: #888;
        text-align: center;
    }
    a {
        text-decoration: underline;
    }
}

// Syntax cheatsheet

// .sectionclass {
//     background: $rood; // variabelen
//     @extend .group; // clearfix
// 
//     @include grid-row; // nieuwe row voor subcols 
//     @include grid-row(20px); // nieuwe row voor subcols en gutter 20px 
//     
//     @include grid-col(3,5); // col-3-5
//     @include grid-col(3,5,20px); // col-3-5 met gutter 20px
// 
//     @include medium { // media query
//         @include grid-col(1,1);
//     }
// }
