/////////////////////
// Main Styles
/////////////////////

@import "foundation.scss";
@import "grid.scss";
@import "typography.scss";
@import "util.scss";

$rood: #D80E27;
$zwart: #333;
$link-color: #5393b8;

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background: #fff;
    @extend group;
}

main {
    padding: 10px 0;
}

article {
    h3 {
        color: #333;
        font-size: 20px;
        margin-bottom: $margin-small;
    }
    h4 {
        margin-bottom: $margin-small;
    }
    p {
        margin-bottom: 16px;
    }
    a {
        color: #647b9e;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    th, td {
        text-align: left;
        padding: 5px 10px;
    }
    td {
        border: 1px solid #eee;
    }
    .draft td {
        color: #888;
    }
    .draft .nr {
       background-color: #aaa;
       border-bottom: 0;
    }
}

.splash {
    border: 1px solid #eee;
    padding: 20px;
    box-shadow: 1px 1px 3px #ddd;
    article {
        padding: 10px;
    }
}

.main-header {
    width: 100%;
    background: $rood;
    color: #fff;
    padding: 15px 0;
    @extend .group;
    .home {
        @include grid-col(1,4);
        i {
            display: inline-block;
            font-size: 30px;
        }
    }
    h2 {
        @include grid-col(1,2);
        text-align: center;
        font-size: 27px;
        line-height: 1em;
        margin: 0;
        span {
            display: block;
            font-size: 16px;
            font-weight: normal;
        }
        i {
            font-size: 15px;
            padding: 0 5px;
            color:rgba(255, 255, 255, 0.5);
        }
        a {
             font-family: sans-serif;
             font-size: 31px;
        }
    }
}

.adam-logo {
    display: block;
    width: 35%;
    max-width: 190px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.buzz-logo {
    width: 90%;
    min-width: 45px;
    max-width: 100px;
}

.title-logo {
    width: 100%;
    min-width: 160px;
    max-width: 270px;
}

.dagselectie {
    position: relative;
    .kalender-icon {
        margin-right: 5px;
        vertical-align: middle;
    }
    h3 {
        text-align: left;
        font-size: 20px;
        color: #555;
        text-transform: capitalize;
        margin-top: 10px;
    }
    a {
        color: #aaa;
        display: inline-block;
        padding: 0 10px 0 0;
        position: relative;
        top: -4px;
    }
    .meta { font-weight: normal }
}

h3.dag { // FIXME
    margin-bottom: 5px;
    color: #555;
    //text-align: center;
}

.headerdate {
    display: inline-block;
    cursor: pointer;
    .meta {
        color: $link-color;
        font-size: 13px;
    }
}

.main-nav {
    position: relative;
    @include grid-col(1,1);
    //top: 20px;
    float: none;
    height: 30px;
    margin: 20px 0 10px;
    border-bottom: 1px solid #ccc;

    a {
        color: #555;
        display: inline-block;
        padding: 2px 10px;
        position: relative;
        margin-right: 3px;
        margin-bottom: 0px;
        font-size: 13px;
        font-weight: bold;
        &.active {
            background: #fff;
            border: 1px solid #ccc;
            border-bottom-color: #fff;
        }
    }
}

.slider {
    article {
        padding: 10px;
        //padding: 3px 0 0 0;
    }
    .close {
        display: none;
        border: 1px solid #eee;
        border-radius: 50%;
        box-shadow: 0 1px 0 #ccc;
        display: block;
        float: right;
        height: 30px;
        line-height: 30px;
        position: relative;
        right: 0px;
        text-align: center;
        width: 30px;
        z-index: 9999;
    }
}

.extern {
    color: $link-color;
    display: block;
    line-height: 1.3em;
    margin-bottom: $margin-medium;
}

.kaart-link {
    color: #5393b8;
    font-size: 14px;
}

.start {
    margin-top: 10px;
    display: inline-block;
    color: #5393b8;
    font-size: 14px;
}

/* Berichten */

.buzz {
    @include grid-col(1,1);
    h2 {
        font-size: 20px;
        margin-top: $margin-medium;
        margin-bottom: $margin-small;
    }
    h3 {
        margin-bottom: 5px;
        color: #333;
        //text-align: center;
    }
    li {
        border-top: 1px solid #eee;
        padding-top: 10px;
        margin-top: 10px;
    }
    margin-bottom: 60px;
}

ol.berichten {
    margin-bottom: 30px;
    input[type=checkbox] {
        position: absolute;
        left: -30px;
    }
    a {
        display: block;
        position: relative;
        padding-left: 40px;
    }
    .nr {
        position: absolute;
        left: 0;
        top: -2px;
    }
}

.nr {
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: $rood;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}

.bericht-header {
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 1.3em;
    .nr {
        position: absolute;
        left: 0;
        top: -1px;
    }
}

/* Haltes en parkeerplaatsen */

.halte {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.halte-link, .parkeerplaats-link {
    background: #466890;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-top: 0px;
    min-width: 35px;
    padding: 2px 5px 0;
    text-align: center;
    text-transform: uppercase;
}

.parkeerplaats-link {
    background: #222;
}

.capaciteit {
    border: 1px solid #adadad;
    border-radius: 4px;
    color: $zwart;
    padding: 3px 6px;
    font-size: 12px;
    &.nietbeschikbaar {
       color: red;
       border-color: red;
    }
}

/* Taalswitch */

.taalswitch {
    position: relative;
    float: right; // FIXME
    a {
        display: none;
        clear: right;
        text-transform: uppercase;
        margin-bottom: 5px;
        &.active {
            font-weight: bold;
            display: block;
        }
        &:hover {
            font-weight: bold;
        }
    }
    .dropdown {
        padding: 5px 10px;
        float: right;
        width: 60px;
        position: absolute;
        top: -2px;
        right: 0;
        background-repeat: no-repeat;
        background-position: 60px 5px;
        background-size: 20px;
        z-index: 999;
        border-radius: 5px;
    }
    &.open {
        .dropdown {
            background-color: rgba(0,0,0,0.5);
        }
        a {
            display: block;
        }
    }
}

.down-w {
    width: 10px;
}

.vlag {
    width: 25px;
    display: inline-block;
    margin-right: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    vertical-align: middle;
    position: relative;
    top: -1px;
}

/* Util */

.app-wrapper { // FIXME: grid
    //max-width: 600px;
    //margin: 0 auto;
}

.meta {
    font-size: 14px;
    color: #888;
}

.meta-link {
    font-size: 14px;
    color:#637b95;
    display: block;
}

.hide {
    display: none;
}

.button {
    border: 0;
    background: $rood;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;
}

.close {
    float: right;
    position: relative;
    top: -5px;
}

.toelichting {
    font-size: 14px;
    color: #888;
    display: block;
}

#map {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}

.kaartmap {
    position: relative;
    width: 100%;
    a {
        position: absolute;
        width: 46px;
    }
}

.actie {
    color: $link-color;
}

/* Maplinks */

.maplink {
    position: relative;
}

.maplink-p {
    position: relative;
    left: -12px;
    top: -23px;
    width: 50%;
    &.large {
      width: 100%;
      left: -20px;
      top: -46px;
    }
}

.maplink-h {
    position: relative;
    left: -12px;
    top: -23px;
    width: 50%;
    &.large {
      width: 100%;
      left: -24px;
      top: -46px;
    }
}

.maplink-m {
    position: relative;
    left: -10px;
    top: -23px;
    width: 50%;
    &.large {
      width: 100%;
      left: -20px;
      top: -46px;
    }
}

.dashboard {
    .home {
        @include grid-col(1,4);
    }
    h2 {
        @include grid-col(1,2);
    }
    .logout {
        @include grid-col(1,4);
        text-align: right;
    }
}

#sms-panel {
    display: none;
}

/* Legenda */

.legenda {
    position: relative;
    p, h3 { text-align: left; padding-left: 60px; margin-bottom: 0; font-size: 13px; line-height: 1.4em; }
    .type  {
        background: #f3f3f3;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
        display: block;
        img {
            float: left;
            position: absolute;
            left: 5px;
        }
    }

}

/* Forms */

.form-styles {
    margin-bottom: 40px;
    padding: 20px 20px;
    background: #fafafa;
    color: #888;

    .form-row {
        margin-bottom: 10px;
        &.error input { border: 1px solid red; margin-bottom: 3px}
        label { display: block; } // tmp
        .note { font-size: 13px; color: red}
    }

    h3 {
        margin-bottom: $margin-small;
        color: #888;
        font-size: 18px;
    }
    input[type=text], textarea, input[type=password], input[type=tel] {
        width: 100%;
        padding: 10px;
        border: 1px solid #aaa;
        @extend .text-body;
    }
    textarea {
        padding: 10px;
        border: 1px solid #aaa;
        @extend .text-body;
        overflow: auto;
        resize: vertical;
        margin-bottom: 10px;
        margin-top: 0;
        display: block;
    }
    select {
        @extend .text-body;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background: url('/img/down.png') no-repeat 95% 50%;
        background-size: 16px;
        border-radius: 0;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #aaa;
    }
    input {
        margin-bottom: $margin-small;
    }
    input + button {
        margin-top: $margin-small;
    }
    select {
        margin-bottom: $margin-small;
    }
    button {
        margin-top: 10px;
        @extend .button;
    }
    img {
        vertical-align: top;
    }
    .close {
        float: none;
        top: 0;
        right: -15px;
    }
}

input.disabled {
    border-color: #ccc;
    color: #ccc;
}

.datepicker {
    width: 30%;
    float: left;
    margin-right: 10%;
}

.maxchars, .verwijder {
    font-size: 12px;
    float: right;
    color: #888;
    font-weight: bold;
}

.verwijderen {
    float: right;
}

.dagen {
    font-size: 12px;
    color: #888;
    font-weight: bold;
}

/* Tabnavigation */

.tab-navigation {
    margin-bottom: 10px;

    .tabselect {
        @extend .group;
        border-bottom: 1px solid #dee2e8;
        margin: 10px 0 0;
        padding: 0 0 2px;
        li {
            list-style: none;
            float: left;
            margin-right: 2px;
        }
        a {
            font-size: 14px;
            color: #888;
            padding: 12px;
        }
        a:hover, a.active {
            background-color: #dee2e8;
        }
        .selected {
            background-color: #333;
            color: #fff;
        }

    }

    .tab {
        display: none;
        background: #dee2e8;
        padding: 10px;
        &.active {
            display: block;
        }
        .record a {
            clear: left;
            display: block;
        }
    }

}

.kaartlink {
    //float: right;
    margin: 5px 0;
}

.translate {
    background: #748f44;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 2px 8px;
}

.feedback {
    //background: #eee;
    //padding: 10px;
    margin: 20px 0;
    h4 {
        //color: #888;
    }
    a {
        border: 1px solid #eee;
        border-radius: 5px;
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        min-width: 90px;
        text-transform: lowercase;
        background: #fff;
        border-bottom: 2px solid #ccc;
        @include transition(0.5);
        &.ja:hover {
            color: green;
            background: #eeffee;
            border-bottom-color: #88cc88;
        }
        &.nee:hover {
            color: red;
            background: #ffeeee;
            border-bottom-color: #cc8888;
        }
    }
    .icon {
        width: 32px;
        height: 29px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
    }
    .thumbs-up {
        background-image: url(/img/thumbs-up-o.png);
        position: relative;
        top: -2px;
    }
    .thumbs-down {
        background-image: url(/img/thumbs-down-o.png);
        position: relative;
        top: 2px;
    }
}

.flashmessages, .notice {
    clear: both;
    @extend .group;
    margin-top: 0px;
    margin-bottom: 15px;
    .error {
        background: #fcdede;
        color: #DA4C4C;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }
    .success {
        background: #c6dac5;
        color: #5c6f5b;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }
}

.banner {
    background: #EEFBFC;
    color: rgba(0,0,0,0.6);
    padding: 15px;
    margin-bottom: 20px;
    a { text-decoration: underline; }
}

.link {
    color: $link-color;
}

.unconfirmed td {
    color: #aaa;
}

footer {
    background: #eee;
    padding: 10px 0;
    p {
        font-size: 14px;
        color: #888;
        //text-align: center;
        font-weight: bold;
    }
    a {
        text-decoration: underline;
    }
    .debug {
        display: block;
        font-size: 12px;
        color: #aaa;
        font-weight: normal;
    }
}
