////////////////
// Typography //
////////////////

@mixin avenir-regular() {
    font-family: $Primary-Font;
}

@mixin avenir-demi() {
    font-family:$Secondary-Font;
}

@mixin text-body() {
    @include avenir-regular;
    font-size: 16px;
    line-height: 22px;
    color: $Primary-color;
}

@mixin text-title() {
    @include avenir-demi;
    font-size: 18px;
    line-height: 25px;
    color: $Primary-color;
}

@mixin text-title-lg() {
    @include avenir-demi;
    font-size: 22px;
    line-height: 28px;
    color: $Primary-color;
}

@mixin text-note() {
    @include avenir-regular;
    font-size: 14px;
    line-height: 18px;
    color: $Neutral-Grey4;
}

@mixin box-shadow() {
    box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

@mixin hr() {
    border: 0;
    border-top: 2px solid $Neutral-Grey2;
    margin-top: 2 * $spacing;
    margin-bottom: 2 * $spacing;
}

//////////
// Grid //
//////////

@mixin grid-wrapper() {
    padding-left: $spacing;
    padding-right: $spacing;
    display: flex;
    flex-direction: column;
}

//////////
// Form //
//////////

@mixin form() {
    background: $Neutral-Grey1;
    padding: $spacing;
}

@mixin form-row() {
    margin-bottom: $spacing;
}

@mixin form-label() {
    @include text-title;
    margin-bottom: 10px;
    display: block;
}

@mixin form-input-text() {
    border: 1px solid $Neutral-Grey4;
    height: 44px;
    min-width: 70px;
    width: 100%;
    padding: 9px 9px 11px 9px;
    @include text-body;
}

////////////
// Button //
////////////

@mixin button-red {
    background: $Secondary-background;
    padding: $mini-spacing $spacing;
    @include text-title;
    color: $Secondary-color;
    border: 0;
    display: inline-block;
}