$Primary-color: rgb(0,0,0);
$Secondary-color: #fff;
$Warning-color: rgb(236,0,0);

$Primary-background: #fff;
$Secondary-background: rgb(236,0,0);

$Border-color: #ccc;

$Primary-Darkblue: rgb(0,70,153);
$Primary-Font: 'AvenirNextLTW01-Regular', sans-serif;
$Secondary-Font: 'Avenir Next LT W01 Demi', sans-serif;

$Neutral-Grey1: rgb(245, 245, 245);
$Neutral-Grey2: rgb(230, 230, 230);
$Neutral-Grey3: rgb(180, 180, 180);
$Neutral-Grey4: rgb(118, 118, 118);
$Neutral-Grey5: rgb(50, 50, 50);
$Support-Focus: rgb(254, 200, 19);
$Supplement-Purple: rgb(160, 0, 120);
$Supplement-Pink: rgb(229, 0, 130);
$Supplement-Orange: rgb(255, 145, 0);
$Supplement-Yellow: rgb(255, 230, 0);
$Supplement-Lightgreen: rgb(190, 210, 0);
$Supplement-Darkgreen: rgb(0, 160, 60);
$Supplement-Lightblue: rgb(0, 157, 236);

$z-index-header: 9999;
$popup-content-width: 200px;
$date-picker-width: 260px;

$spacing: 15px;
$mini-spacing: 5px;