@import "variables.scss";
@import "mixins.scss";
@import "map.scss";
@import "layers-legend.scss";
@import "main-header.scss";
@import "date-picker.scss";
@import "navigation-bar.scss";
@import "footer-block.scss";
@import "message-overview.scss";
@import "haltes-parkeren.scss";
@import "park-detail.scss";
@import "halte-detail.scss";
@import "message-detail.scss";
@import "lang-switch.scss";
@import "message-nav.scss";
@import "berichten-service.scss";
@import "sms-alerts.scss";
@import "flash-messages.scss";
@import "routes-overview.scss";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: white;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
blockquote,
figure,
ol,
ul,
textarea,
legend,
fieldset {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

/*button {
    cursor: pointer;
    border: none;
    background: none;
    color: currentColor;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
  }*/
button img,
button svg {
  pointer-events: none;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: normal
}

fieldset {
  border: 0;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}
