server {
  listen 80;
  listen [::]:80;

  root /srv/web/tourbuzz/tourbuzz/public;
  index index.php;
  try_files $uri /index.php;
  location /index.php {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    try_files $fastcgi_script_name =404;
    set $path_info $fastcgi_path_info;
    fastcgi_param PATH_INFO $path_info;
    fastcgi_index index.php;
    fastcgi_pass unix:/run/php/php7.0-fpm.sock;
  }
  location ~ /\.ht {
    deny all;
  }
}
