<section class="footer-block">
    <div class="footer-block-main" data-js="test" data-test-value="15">
        <div class="footer-block-wrapper">
            <div class="footer-block-container">
                <h3 class="footer-block-title">Over Tour Buzz</h3>
                <p class="footer-block-text">Dagelijks overzicht van verkeershinder en omleidingen voor touringcarchauffeurs.</p>
                <p class="footer-block-text">Meer informatie: <a href="https://www.amsterdam.nl/touringcar" target="_blank" class="footer-block-text-link">www.amsterdam.nl/touringcar</a></p>
            </div>
            <div class="footer-block-container">
                <h3 class="footer-block-title">Berichten</h3>
                <a href="/berichtenservice" class="footer-block-link">Tour Buzz Berichtenservice</a>
                <a href="/sms-aanmelden" class="footer-block-link">SMS alerts</a>
            </div>
            <div class="footer-block-container">
                <h3 class="footer-block-title">{{ __('Downloads') }}</h3>
                <a href="/poi" class="footer-block-link">POI file - Google Maps format</a>
                <a href="/poi" class="footer-block-link">CSV file - Garmin/Mio/Navman format</a>
                <a href="/ov2" class="footer-block-link">OV2 file - TomTom format</a>
                <a href="/gpx" class="footer-block-link">GPX file - GPX format</a>
            </div>
            <div class="footer-block-container">
                <h3 class="footer-block-title">Contact</h3>
                <p class="footer-block-text">Vragen en opmerkingen kunt u sturen naar <a href="mailto:touringcar@amsterdam.nl" class="footer-block-text-link">touringcar@amsterdam.nl</a></p>
            </div>
        </div>
    </div>
    {#<div class="footer-block-sub">
        <div class="footer-block-wrapper">
            <div class="footer-block-container-sub">
                <a href="#" class="footer-block-sub-link"><img src="/img/icons/chevron-right.svg" class="footer-block-arrow">Over Tour Buzz</a>
                <a href="#" class="footer-block-sub-link"><img src="/img/icons/chevron-right.svg" class="footer-block-arrow">Privacy</a>
                <a href="#" class="footer-block-sub-link"><img src="/img/icons/chevron-right.svg" class="footer-block-arrow">Cookies</a>
            </div>
        </div>
    </div>#}
</section>