<section class="main-header">
    <a href="/" class="main-header-logo-link">
        <img src="/img/icons/andreas.svg" class="main-header-logo-img">
        <span class="main-header-logo-text">Gemeente<br>Amsterdam</span>
    </a>
    <h1 class="main-header-title"><a href="/">Tour Buzz</a></h1>
    <div class="main-header-include -lang-switch">
        {% include 'web/partials/lang-switch.twig' %}
    </div>
</section>