<section class="navigation-bar" data-navigation-bar>
    <nav class="navigation-bar-wrapper">
        <a href="/" class="navigation-bar-link {% if activetab == 'berichten' %}-active {% endif %}" data-js-click="navBerichten">
            {{ __('messages.menu_item') }}
        </a>
        <a href="/haltes-parkeerplaatsen" class="navigation-bar-link {% if activetab == 'haltes-parkeerplaatsen' %}-active {% endif %}" data-js-click="navHaltesParkeren">
            {{ __('stops.title') }} &amp; {{ __('parking.title') }}
        </a>
        <a href="/routes" class="navigation-bar-link {% if activetab == 'routes' %}-active {% endif %}" data-js-click="navRoutes">
            {{ __('routes.menu_item') }}
        </a>
    </nav>
</section>