<section class="routes-overview -active">
        <h3 class="routes-overview-title">{{ __('Route informatie') }}</h3>
        <hr class="routes-overview-hr">
        <p class="routes-overview-text">Weergave van de aanbevolen en verplichte routes voor touringcars. Let op de doorrijhoogtes.</p>
</section>