<section class="routes-overview -active">
    <h3 class="routes-overview-title">{{ __('routes.information') }}</h3>
    <hr class="routes-overview-hr">
    <p class="routes-overview-text">{{ __('routes.information_description') }}</p>
</section>