<div id="asyncImageUpload">
  {% if bericht.image_url is not empty %}
      <img src="{{ bericht.image_url }}">
      <a onclick="asyncImageUploadReset()" href="#" class="close" data-close><i class="fa fa-close"></i></a>
      <input type="hidden" name="image_url" value="{{ bericht.image_url }}">
  {% else %}
      <input type="file" onchange="asyncImageUpload(this)">
  {% endif %}
</div>

<script>
	var uri = "{{ image_api }}";
  var el = document.getElementById("asyncImageUpload");
	
	function asyncImageUpload(fileInputElement) {
		var file = fileInputElement.files[0];
		if (file.type !== "image/jpeg" &&
		    file.type !== "image/png") {
			fileInputElement.value = "";
			return;
		}
		var xhr = new XMLHttpRequest();
		xhr.open("POST", uri, true);
		xhr.send(file);
		xhr.onreadystatechange = function () {
			if (xhr.readyState !== XMLHttpRequest.DONE) {
				return;
			}
            var image_url = uri + '/' + xhr.responseText;
		  el.innerHTML =
		    '<img src="' + image_url + '">' +
            '<a onclick="asyncImageUploadReset()" href="#" class="close" data-close><i class="fa fa-close"></i></a>' +
            '<input type="hidden" name="image_url" value="' + image_url + '">';
		}
	}
	
	function asyncImageUploadReset() {
	  el.innerHTML = '<input type="file" onchange="asyncImageUpload(this)">';
	}
</script>

