    <header class="main-header dashboard">
        <div class="wrapper">
            <a href="/" class="home"><img src="/img/buzzlogo-w.png" class="buzz-logo"></a>
            <h2>
                <a href="/dashboard/berichten"><img src="/img/tour-buzz.png" alt="Tourbuzz" class="title-logo"> <span>Dashboard {{ navsection }}</span></a>
            </h2>
            {% if username is not empty %}
            <a href="/dashboard/logout" class="logout">Afmelden ({{ username }})</a>
            {% endif %}
        </div>
    </header>