<nav class="main-nav">
    <div class="wrapper">
        <a href="/dashboard/berichten" class="{% if activetab == 'berichten' %}active{% endif %}">{{ __('messages.menu_item') }}</a>
        <a href="/dashboard/abonnees" class="{% if activetab == 'abonnees' %}active{% endif %}">Abonnees</a>
        <a href="/dashboard/accounts" class="{% if activetab == 'accounts' %}active{% endif %}">Accounts</a>
        <a href="/dashboard/mapping-parkeren" class="{% if activetab == 'mapping-parkeren' %}active{% endif %}">Parkeren</a>        
    </div>
</nav>