<!doctype html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!--<link href="/favicon.ico" rel="icon" type="image/x-icon">-->	
		<title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">		
		<link href="/css/scss/main.scss" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/js/pico-ui.js"></script>			
	</head>
	<body>
	    {% include 'partials/grid.twig' %}
		
		{% block header %}
		    <header>
		        <nav class="taal">
		            <a href="?lang=nl">NL</a>
		            <a href="?lang=en">EN</a>
		            <a href="?lang=fr">FR</a>
		        </nav>
		    </header>
		{% endblock %}
		{% block main %}{% endblock %}
	</body>
</html>