<!doctype html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1">
        <!--<link href="/favicon.ico" rel="icon" type="image/x-icon">-->	
		<title></title>
		<link href="/css/scss/main.scss" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/js/pico-ui.js"></script>			
	</head>
	<body>
	    {% include 'partials/grid.twig' %}
		{% block main %}{% endblock %}
	</body>
</html>