{% extends 'base/base.dashboard.twig' %}

{% block main %}
<main class="wrapper">
    <div class="col-1-1">

    {#<h2>Nieuw account</h2>#}
    <form class="form-styles" method="post" autocomplete="false">
        <div class="formrow">
            <label for="username">Gebruikersnaam</label>
            <input type="text" name="username">
        </div>
        <div class="formrow">
            <label for="mail">E-mail</label>
            <input type="text" name="mail">
        </div>
        <div class="formrow">
            <label for="password">Wachtwoord</label>
            <input type="password" name="password">
        </div>
        <button type="submit" name="submit" value="toevoegen">Toevoegen</button>
    </form>

    <table>
        <tr>
            <th>Gebruikersnaam</th>
            <th>E-mail</th>
            <th>Notifications</th>
            <th>&nbsp;</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>{{ account.username }}</td>
            <td>{{ account.mail }}</td>
            <td>{% if account.create_notifications %}✓{% else %}-{% endif %}
            <td><a href="/dashboard/accounts/{{ account.username }}" class="actie">bewerk</a></td>
        </tr>
        {% endfor %}
    </table>

    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}
