{% extends 'base/base.twig' %}

{% block header %}
    {% include 'dashboard/partials/header.twig' %}
{% endblock %}

{% block topselectie %}{% endblock %}

{% block main %}
<main class="wrapper">
    <div class="col-1-1">

    <h2>Account bewerken voor {{ account.username }}</h2>
    <form class="form-styles" method="post" autocomplete="false">
        <input type="hidden" name="username" value="{{ account.username }}">
        <input type="text" placeholder="E-mail" name="mail" value="{{ account.mail }}">
        <input type="password" placeholder="Wachtwoord" name="password" value="">
        <button type="submit" name="submit" value="toevoegen">Aanpassen</button>
    </form>

    <div>
        <a href="/dashboard/accounts/{{ account.username }}/verwijderen">Verwijderen</a>
    </div>

    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}
