{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="app-wrapper">
        <form class="form-styles" method="post">
            <h2>Dashboard</h2>
            <input type="text" placeholder="Gebruikersnaam" name="username">
            <input type="password" placeholder="Wachtwoord" name="password">
            <button type="submit">Login</button>
        </form>
    </main>
{% endblock %}