{% extends 'base/base.twig' %}

{% block main %}
    <main class="app-wrapper">
        <h3>Tour Buzz Dashboard</h3>
        <input type="text" placeholder="Gebruikersnaam">
        <input type="password" placeholder="Wachtwoord">
        <button>Login</button>
    </main>
{% endblock %}