{% extends 'base/base.twig' %}

{% block header %}
    {% include 'dashboard/partials/header.twig' %}
{% endblock %}

{% block topselectie %}{% endblock %}

{% block main %}
<main class="wrapper">
    <div class="col-1-1">

    <h2>Wachtwoord instellen</h2>
    <form class="form-styles" method="post" autocomplete="false">
        <input type="password" placeholder="Wachtwoord" name="password" value="">
        <button type="submit" name="submit" value="toevoegen">Aanpassen</button>
    </form>

    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}
