<article class="article-text">

<h1>Kramer verovert zonder zorgen vierde wereldtitel op 10 kilometer</h1>
<p class="inleiding">Sven Kramer heeft donderdag voor de vierde keer in zijn carrière en voor het eerst sinds 2009 de wereldtitel op de 10 kilometer veroverd. De Fries bleef Ted-Jan Bloemen en Erik Jan Kooiman voor in Kolomna.</p>

<p>De 29-jarige Kramer kwam in de slotrit uit op een nieuw baanrecord van 12.56,77. De in Nederland geboren Canadees Bloemen had een rit eerder 12.59,69 op de klokken gebracht.</p>

<p>Kooiman dook met 13.02,15 als eerste onder het oude baanrecord van Kramer (13.03,30). De 29-jarige stayer van Team Clafis stond met zijn derde plek voor het tweede jaar op rij op het podium. Vorig jaar pakte hij in Heerenveen zilver achter Jorrit Bergsma.</p>

<h2>Verdediger en kampioenschap</h2>
<p>De titelverdediger en regerend olympisch kampioen op de 10 kilometer stond niet aan de start in de Kometa-ijshal, omdat hij zich eind december bij de NK afstanden niet wist te plaatsen.</p>

<p>De Duitser <a href="#">Patrick Beckert</a>, vorig jaar goed voor brons, eindigde als vierde op ruim zeven seconden van Kooiman.
Record</p>

<h2>Kramer stelde</h2>
<p>met zijn zestiende</p>
<ul>
    <li>gouden medaille bij de WK afstanden</li>
    <li>zijn eigen record nog wat scherper</li>
    <li>De drievoudig olympisch kampioen won</li>
</ul>

<p>In 2011, 2012 en vorig jaar reed Kramer de langste individuele afstand niet, terwijl hij in 2013 tweede werd achter Bergsma.</p>

<h3>Afstanden op andere plaatsen</h3>
<p>De 10 kilometer is in de 17-jarige geschiedenis van de WK afstanden altijd gewonnen door een Nederlander.</p>

<p>Kramer komt bij deze WK afstanden zaterdag nog uit op de 5 kilometer. De ploegenachtervolging van vrijdag slaat hij over. Het toernooi in Kolomna duurt tot en met zondag.</p>

</article>