<section class="banner">
    <p>Wilt u automatisch op de hoogte blijven van Tour Buzz berichten?
    Meld u dan aan voor de <a href="/berichtenservice">berichtenservice</a> en <a href="/sms-aanmelden">SMS&nbsp;alerts</a>.</p>
</section>