<style type="text/css">
  #map { height: 400px; width: 100%; }
</style>

<div id="map"></div>

<script>

function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: {lat: 52.372981, lng: 4.901327},
        mapTypeControl: false,
        streetViewControl: false,

        styles: [
        {
          featureType: 'all',
          stylers: [
            { saturation: -50 }
          ]
        }
        ]
    });

    var image;
    var markers = [];
    var marker;

    {% for halte in haltes|slice %}
    image = {
        url: 'http://www.tourbuzz.nl/img/haltes/{{ halte.haltenummer|lower }}.png',
    };

    marker = new google.maps.Marker({
        position: {lat: {{ halte.location.lat }}, lng: {{ halte.location.lng }}},
        map: map,
        icon: image,
        title: 'Halte'
    }).addListener('click', function() {
        	window.location = "http://www.reddit.com";
    });

    markers.push(marker);
    {% endfor %}

    var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'img/clusters/m'});

    /*google.maps.event.addListener(marker, 'onclick', function() {
        alert("I have been clicked");
    });*/
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ apikey }}&callback=initMap"
async defer>
</script>
<script src="/js/js-marker-clusterer/markerclusterer.js"></script>
