
{#
0 - in sleep mode
1 - car detected
2 - truck detected
3 - car in violation
4 - truck in violation
#}

{% set haltestatus %}{% if haltestatus > 0 %}bezet{% else %}vrij{% endif %}{% endset %}

<section class="halte-vrij" style="margin: 10px 0; padding: 10px 10px; background: #f8f8f8">
    beta

    <p>{{ __('Halte status') }}: <b>{{ haltestatus }}</b></p>
    <p class="meta">{{ __('Laatste update') }}: {{ now|date('d-m-Y H:i:s') }}
</section>