<section class="halte-vrij" style="margin: 10px 0; padding: 10px 10px; background: #f8f8f8">
    <p><b>{{ vialis.vacant }}</b> / {{ vialis.capacity }} parkeerplaatsen vrij</p>
    <p class="meta">Laatste update: {{ now|date('d-m-Y H:i:s') }}</p>
</section>